<!-- chat_view.html in chatapp/templates/chatapp -->
<!-- <!DOCTYPE html>
<html>


<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
    <link rel="icon" type="image/x-icon" href="{% static 'admin/img/favicon.ico' %}">

</head>


<body>
    <header>
        <div id="header">
            <h1 id="title">CAV CLONE</h1>
        </div>
    </header>
    <div id="content">
        <div id="results">
            {% for query in queries %}
            <div id="user">
                <h4>User:</h4>
                <p>{{ query.content }}</p>
            </div>
            <div id="cav">
                <button class="audioButton">
                    <h4>Cav:</h4>
                </button>
                <audio src="../static/audio_files/{{ query.audio_path }}" class="prevAudio"></audio>
                <p>{{ query.response }} </p>
            </div>

            {% if forloop.last %}
            <audio controls autoplay class="voice">
                <source src="../static/audio_files/{{ query.audio_path }}" type="audio/mp3">
                Your browser does not support audio
            </audio>
            {% endif %}

            {% endfor %}
        </div>
        <div id="formcontainer">
            <form method="post" action="" id="queryForm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="submitButton">
                    <img src="../static/admin/img/cav2.png">
                </button>
            </form>
        </div>
    </div>


    <script>
        // Submit the form on Enter key press in the text box
        document.getElementById("id_content").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();  // Prevent the default Enter key behavior (e.g., new line)
                document.getElementById("queryForm").submit();  // Submit the form
                document.getElementById("id_content").value = '';
            }
        });

        window.addEventListener("unload", (e) => {
            unload();
        })

        window.onload = function () {
            window.scrollTo(0, document.body.scrollHeight);
        }

        var buttons = document.querySelectorAll('.audioButton');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var audio = this.nextElementSibling;

                audio.play();
            });
        });

    </script>
</body>

</html> -->


<!DOCTYPE html>
<html>


<head>
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'> -->
    <!-- Inside your HTML head section -->
    <!-- <link rel="icon" type="image/x-icon" href="{% static 'admin/img/favicon.ico' %}"> -->
    <link rel="stylesheet" type="text/css" href='{% static "style2.css" %}'>
    <link rel="stylesheet" type="text/css"
        href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
</head>


<body class="page-container">
    <header class="d-flex justify-content-center header">
        <div class="mt-3 mb-3 title" id="header">
            <h1>CAV CLONE</h1>
        </div>
    </header>
    <div id="content">
        <div id="results" class="scrollable-div">
            {% for query in queries %}
            <div class="d-flex align-items-start usermessage p-3 messageborder" id="user">
                <div class="object-fit-fill mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                </div>
                <!-- <h4>User:</h4> -->
                <p> {{ query.content }}</p>
            </div>
            <div class="p-3 cavmessage messageborder" id="cav">
                <div class="d-flex align-items-start cavmessagecolor">
                    <div class="object-fit-fill mr-3">
                        <img class="cav-avatar" src="../static/admin/img/cav3.png">
                    </div>
                    <audio src="../static/audio_files/{{ query.audio_path }}" class="prevAudio"></audio>
                    <p>{{ query.response }} </p>
                </div>
                <div class="p-3">
                    {% if forloop.last %}
                    <audio controls autoplay class="voice">
                        <source src="../static/audio_files/{{ query.audio_path }}" type="audio/mp3">
                        Your browser does not support audio
                    </audio>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="footer mr-5 ml-5">
        <div class="input-box m-0 p-0" id="formcontainer">
            <form class="p-0 m-0" method="post" action="" id="queryForm">
                {% csrf_token %}
                <!-- {{ form }} -->
                <textarea class="form-control rounded-lg" name="content" id="id_content" cols="30" rows="1"
                    placeholder="Message"></textarea>
                <!-- <button class="rounded send-button" type="submit">Submit</button> -->
            </form>
        </div>
    </footer>


    <script>
        // Submit the form on Enter key press in the text box
        document.getElementById("id_content").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();  // Prevent the default Enter key behavior (e.g., new line)
                document.getElementById("queryForm").submit();  // Submit the form
                document.getElementById("id_content").value = '';
            }
        });

        window.addEventListener("unload", (e) => {
            unload();
        })

        window.onload = function () {
            window.scrollTo(0, document.body.scrollHeight);
        }

        var buttons = document.querySelectorAll('.audioButton');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var audio = this.nextElementSibling;

                audio.play();
            });
        });

    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>