<!-- chat_view.html in chatapp/templates/chatapp -->
<!DOCTYPE html>
<html>


<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
    <!-- <script src="main.js"></script> -->
</head>


<body>
    <header>
        <div id="header">
            <h1 id="title">CAV CLONE</h1>
        </div>
    </header>
    <div id="content">
        <div id="results">
            {% for query in queries %}
            <div id="user">
                <h4>User:</h4>
                <p>{{ query.content }}</p>
            </div>
            <div id="cav">
                <h4> Cav: </h4>
                <p>{{ query.response }} </p>
            </div>
            {% endfor %}

            <!-- {% if audio %} -->
            <audio controls>
                <source src="cavclone/output.mp3" type="audio/mpeg">Testing!
            </audio>
            <!-- {% endif %} -->
        </div>
        <div id="formcontainer">
            <form method="post" action="" id="queryForm">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <button type="submit" id="submitButton">
                <img src="../static/admin/img/cav2.png"> </button>
        </div>
    </div>


    <script>
        // Submit the form on Enter key press in the text box
        document.getElementById("id_content").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();  // Prevent the default Enter key behavior (e.g., new line)
                document.getElementById("queryForm").submit();  // Submit the form
            }
        });

        window.addEventListener("unload", (e) => {
            unload();
        })

        window.onload = function () {
            window.scrollTo(0, document.body.scrollHeight);
        }

    </script>
</body>

</html>